/* Global */

.full-tem {
    font-size: 14px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    color: #555;
    background-size: cover;
}
.full-tem h1,
.full-tem h2,
.full-tem h3,
.full-tem h4,
.full-tem h5,
.full-tem h6 {
    font-family: 'Roboto', sans-serif;
    color: #333;
    line-height: 1.3;
    font-weight: 700;
}
.full-tem h1 {
	font-size: 36px;
}
.full-tem h2 {
	font-size: 30px;
}
.full-tem h3 {
	font-size: 24px;
}
.full-tem h4 {
	font-size: 18px;
}
.full-tem h5 {
	font-size: 16px;
}
.full-tem h6 {
	font-size: 14px;
}
a:hover {
    text-decoration: none;
}
.full-tem {
	overflow-x: hidden;
	background-color: #ef4d44;
}
.full-tem img {
	max-width: 100%;
	height: auto;
}
.full-inr {
	
}

/* Hdr */

.tem-hdr {
	padding: 25px 0;
}

.hdr-nav {
	margin-top: 35px;
}
.hdr-nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
.hdr-nav ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 20px;
}
.hdr-nav ul li:last-child {
	margin-right: 0;
}
.hdr-nav ul li a {
	display: block;
	background: #fff;
	color: #555;
	padding: 0 0 0 20px;
	text-transform: uppercase;
}
.hdr-nav ul li a i {
	margin-left: 20px;
	background-color: #7815ee;
	color: #fff;
	font-size: 18px;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-align: center;
}
.hdr-nav ul li:nth-child(2) a i {
	background-color: #00b4dc;
}
.hdr-nav ul li:nth-child(3) a i {
	background-color: #ffbd00;
}
.hdr-nav ul li:nth-child(4) a i {
	background-color: #006daa;
}
.hdr-nav ul li:last-child a i {
	background-color: #00b4dc;
}

/* Promo */

.promo {}
.single-promo {
	text-align: center;
}
.single-promo img{
	margin-bottom: 10px;
	height: 48px;
}
.single-promo h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}

/* Pro Info */

.pro-info {
	padding: 20px 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	background-color: #fff;
}
.pro-title {
	font-size: 24px;
	font-weight: 400;
	border-left: 3px solid #ef4d44;
	position: relative;
	padding-left: 15px;
}
.pro-title:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #ef4d44;
}

.pro-price {
	font-size: 30px;
	color: #ef4d44;
	margin-top: 15px;
}



/* Gellery */

.slider {
    text-align: center;
    margin-top: 20px;
}

/* Main Tab area */

.main-tab {
    width: 100%;
    background: #fff;
    margin: 0 0 30px;
}
.main-tab section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ababad;
}
.main-tab input {
    display: none;
}
.main-tab label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 36px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
    background-color: #ef4d44;
    text-transform: uppercase;
}
.main-tab label i {
    margin-right: 5px;
}
.main-tab label:hover {
    color: #fff;
    background-color: #ef4d44;
    cursor: pointer;
}
.main-tab input:checked + label {
    color: #373741;
    border: 1px solid #f5f5f5;
    border-top: 2px solid #ef4d44;
    border-bottom: 1px solid #fff;
    background-color: #fff;
}
.main-tab #tab1:checked ~ #content1,
.main-tab #tab2:checked ~ #content2,
.main-tab #tab3:checked ~ #content3,
.main-tab #tab4:checked ~ #content4,
.main-tab #tab5:checked ~ #content5,
.main-tab #tab6:checked ~ #content6 {
    display: block;
    border: 1px solid #f5f5f5;
    padding: 15px 20px 5px;
}

/* Widgets */

.widgets {
	margin-top: 35px;
	background-color: #fff;
	padding: 0 15px 20px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.wid-heading {
	text-transform: uppercase;
	font-size: 16px;
	border-left: 3px solid #ef4d44;
	position: relative;
	padding-left: 15px;
	margin-bottom: 20px;
}
.wid-heading:before {
	content: "";
	position: absolute;
	left: 1px;
	top: 0;
	width: 3px;
	height: 100%;
	background-color: #ef4d44;
}

.sin-wid  {
	margin-top: 20px;
}
.sin-wid ul {
	margin: 0;
	padding: 0;
}
.sin-wid ul li {
	list-style-type: none;
}
.sin-wid ul li a {
	display: block;
	color: #555;
}
.nl-des a {
	display: inline-block;
	padding: 0 0 0 15px;
	background-color: #7815ee;
	color: #fff;
	text-transform: uppercase;
}
.nl-des a i {
	margin-left: 15px;
	background-color: #ef4d44;
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
}
.con a {
	color: #555;
}
.con a i {
	height: 30px;
	width: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #7815ee;
	color: #fff;
	margin-right: 5px;
}

/* Ftr */

.ftr {
	padding: 20px 0;
}
.copy-right {
	color: #fff;
}


/* Extra */

.mb {
	display: none;
}



/* LG Device :992px. */
@media (min-width: 992px) and (max-width: 1199px) {

	.hdr-nav ul li {
		margin-right: 5px;
	}
	.hdr-nav ul li a i {
		margin-left: 5px;
	}
	.hdr-nav ul li a {
		padding-left: 5px;
		font-size: 13px;
	}
	.main-tab label {
		padding: 10px 5px;
		font-size: 12px;
	}

}

/* MD Device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

	.hdr-nav ul li {
		margin-bottom: 10px;
	}
	.pro-title {
		margin-top: 35px
	}
	.main-tab {
		margin-top: 30px
	}
	.hdr-logo {
		text-align: center;
		margin-bottom: 20px
	}
	.hdr-nav {
		margin-top: 15px
	}

}

/* Extra small Device. */
@media (max-width: 767px) {

 	.pro-title {
		margin-top: 35px;
		font-size: 18px;
	}
	.hdr-nav ul li {
		width: 100%;
		margin-bottom: 10px;
	}
	.hdr-nav ul li a {
		height: 50px;
		line-height: 50px;
	}
	.hdr-nav ul li a i {
		float: right;
	}
	.main-tab label span {
		display: none
	}
	.copy-right {
		margin-top: 15px;
		text-align: center;
	}
	.mb {
		display: block;
	}
	.ftr-logo,
	.hdr-logo {
		text-align: center;
	}
	.hdr-logo {
		margin-bottom: 15px
	}
	.main-tab {
		margin-top: 30px
	}
	.single-promo h4 {
		font-size: 10px
	}
	.single-promo img {
		font-size: 40px;
	}
}
